* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

body {
    background: black;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Press Start 2P', cursive;
    -ms-touch-action: none;
    touch-action: none;
    position: relative;
    height: 100%;
}

.gameContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
}

#game {
    display: block;
    width: 100%;
    height: 100%;
}

.loadingIntro {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: darkslategrey;
    color: mintcream;
    transition: 1600ms all;
    opacity: 1;
}

.vertically-centered {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.text-centered {
    text-align: center;
}

.progressBar {
    width: 260px;
    height: 40px;
    margin: 32px auto 16px auto;
    border: 2px solid mintcream;
    padding: 6px;
}

.progressBar_progress {
    width: 0%;
    height: 100%;
    background: goldenrod;
}

.mainMenu {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #303030;*/
    color: goldenrod;
}

.menuList {
    list-style: none;
    margin: 24px auto 24px auto;
}

.menuButton {
    display: inline-block;
    border: 4px solid goldenrod;
    padding: 2px;
    width: 160px;
    margin-top: 18px;
    transform-origin: center;
    transition: 300ms all;
}

.menuButton span {
    width: 100%;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid black;
    background: goldenrod;
    color: black;
}

.menuButton:hover {
    transform: scale(0.9);
}

.blured-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    filter: blur(10px);
}